<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table style="width: 100%" border="1">
        <tr>
            <th>Email Address</th>
            <th>Full Name</th>
            <th>Marks</th>
            <th>Gender</th>
            <th>Country</th>
            <th></th>
        </tr>
        <tr th:each="entry : ${items}" th:object="${entry.value}">
            <td th:text="*{email}"></td>
            <td th:text="*{fullname}"></td>
            <td th:text="*{marks}"></td>
            <td th:text="*{gender}"></td>
            <td th:text="*{country}"></td>
            <td>
                <a th:href="@{|/student/edit/${entry.key}|}">Edit</a>
                <a th:href="@{|/student/delete/${entry.key}|}">Delete</a>
            </td>
        </tr>
    </table>
</body>

</html>